<ul class="hidden items-center md:flex md:gap-4">
	<li
		class="hover:bg-VeryDarkViolet px-4 py-2 transition-colors duration-300 hover:text-white"
	>
		<a href="#">HOW WE WORK</a>
	</li>
	<li
		class="hover:bg-VeryDarkViolet px-4 py-2 transition-colors duration-300 hover:text-white"
	>
		<a href="#">BLOG</a>
	</li>
	<li
		class="hover:bg-VeryDarkViolet px-4 py-2 transition-colors duration-300 hover:text-white"
	>
		<a href="#">ACCOUNT</a>
	</li>
	<li
		class="hover:bg-VeryDarkViolet px-4 py-2 transition-colors duration-300 hover:text-white"
	>
		<a href="#">VIEW PLANS</a>
	</li>
</ul>
