<ul
	id="links-mobile"
	class="absolute md:hidden inset-0 top-[88px] translate-x-full bg-VeryDarkViolet px-6 pt-6 text-center text-white transition-transform duration-300"
>
	<li
		class="mb-4 border border-white border-opacity-0 p-2 transition-all duration-300 hover:border-opacity-100"
	>
		<a href="#">HOW WE WORK</a>
	</li>
	<li
		class="mb-4 border border-white border-opacity-0 p-2 transition-all duration-300 hover:border-opacity-100"
	>
		<a href="#">BLOG</a>
	</li>
	<li
		class="mb-4 border border-white border-opacity-0 p-2 transition-all duration-300 hover:border-opacity-100"
	>
		<a href="#">ACCOUNT</a>
	</li>
	<li
		class="mb-4 border border-white border-opacity-0 p-2 transition-all duration-300 hover:border-opacity-100"
	>
		<a href="#">VIEW PLANS</a>
	</li>
</ul>

<style>
	.active {
		transform: translateX(0);
	}
    #links-mobile{
        background-image: url('/images/bg-pattern-mobile-nav.svg');
        background-repeat: no-repeat;
        background-size: contain;
        background-position: 0 100%;
    }
</style>
